@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/NunitoSans-VariableFont.tff") format
    ("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}
@theme {
  --font-sans: "Nunito Sans", ui-sans-serif, system-ui;

  /* Colores de Toscamare */
  --color-brand-marino: #011468;
  --color-brand-rojo: #d90414;
  --color-brand-celeste: #57c3ed;
  --color-brand-azul: #0460a9;
}
