<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si la petición es para un archivo o directorio que existe, úsalo
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Si no existe, manda todo al index.html para que React Router lo maneje
  RewriteRule . /index.html [L]
</IfModule>
