footer {
  background-color: #011468;
  color: #ffffff;
  margin-top: auto; /*Empujar footer hacia abajo*/
  text-align: left;
  padding: 20px 40px 10px 40px;
  font-size: 14px;

  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.txt-footer {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.titulo-footer {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-contact p {
  display: flex;
  align-items: center;
  gap: 8px; /* espacio entre icono y texto */
}


.footer-info,
.footer-contact,
.footer-menu {
  flex: 1;
  padding: 20px;
}

.footer-menu a:hover {
  opacity: 0.7;
}


.footer-info{
    flex: 1.5;
    height: 100%;
    padding: 0px 100px 20px 20px;
}

.footer-info{
    height: auto;
}

.footer-info{
    height: auto;
}

.footer-logo {
  height: 70px;
  width: auto;
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  gap: 15px;

}

.footer-social a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: space-between;
}
.footer-social a:hover {
  opacity: 0.7;
}
